@use "./base.scss";

// put your custom CSS here!

a {
    &.external {
	color: inherit;
	font-weight: inherit;
	text-decoration: underline;
	text-decoration-thickness: 0.15rem;
	text-decoration-color: var(--secondary);

	.external-icon {
	    display: none;
	    height: 1ex;
	    margin: 0 0.15em;
	    > path {
		fill: var(--dark);
	    }
	}
    }
}

mjx-container[display="true"] {
    svg {
	width: 100%;
	padding: 0.75em 0;
    }
}



// https://stackoverflow.com/a/77181931/28633986
// For inference lines in bussproof prooftree envs
// I have no idea why this isn't included
.mjx-solid {
  stroke-width: 60px;
}
#random-btn {
    width: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-weight: 600;
    color: var(--darkgray);
    background: var(--light);
    border-color: var(--secondary);
    border-style: solid;
}
#random-btn:hover {
    background: var(--lightgray);
}
